* {
    padding: 0;
    margin: 0;
}

html *{
    font-family: Roboto, Arial, sans-serif;
}

.containerElement {
    height: 100vh;
}

.mapElement, .loadingElement {
    height: 100%;
}

.paper{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
}
