.search {
    /*position: absolute;
    top: 10px;
    left: 415px;*/
    margin-left: 20px;
    height: 40px;
    border: none;
    outline: none;
    /*padding: 0 10px;*/
    font-size: 15px;
    min-width: 200px;
}

.searchInput {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0 20px;
    outline: 0;
}
.close{
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 9px;
}
.locationsList {
    background-color: #fff;
    padding: 5px 20px;
    max-height: 300px;
    overflow-y: scroll;
}

.locationsListItem {
    padding: 4px 0;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
}

.noMatch {
    background-color: #fff;
    padding: 5px 20px;
}